.pagination {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
}

.pagination a {
  padding: 0.5rem 1rem;
  border: 1px solid #c2c2c2;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  text-decoration: none;
  color: var(--font-dark-color);
  font-weight: 700;
  transition: background-color 0.5s;
}

.pagination a:hover {
  cursor: pointer;
  background-color: #ddd;
}

.pagination a:active,
.pagination a.active {
  background-color: var(--secondary-light-color);
  color: white;
}

.pagination a:nth-child(n + 7) {
  display: none;
}

.pagination a:last-child,
.pagination a:first-child {
  display: block;
}

@media (min-width: 60rem) {
  .pagination a:nth-child(n + 5) {
    display: block;
  }
}
